<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ryuuko | {{ category.name }} | image #{{ image.id }}</title>
</head>
<body>
<h1>ryuuko</h1>
<h2>{{ category.name }} | image #{{ image.id }}</h2>
</body>
</html>